# R lab
## Assignment 1

[source](https://learn-eu-central-1-prod-fleet01-xythos.content.blackboardcdn.com/58bb1752f3dab/3557137?X-Blackboard-Expiration=1612213200000&X-Blackboard-Signature=ywMxIjGeJKMfWZW%2FWflsUq3PkAcogd28%2BVDRNNLxels%3D&X-Blackboard-Client-Id=333455&response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27r_lab_assignment.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210201T150000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PL5M5HI5WH%2F20210201%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=6aeff71c917f953c6554d994949263c725ca86d85e79b2043ed6e966236baa38)
[data](https://raw.githubusercontent.com/dnzengou/du_r/main/r-assignment1/data/Freedman.csv)
[repo](https://raw.githubusercontent.com/dnzengou/du_r/main/r-assignment1/)

1. Type the code below within R to generate a vector called vec1<br>
**vec1 <- c(0, 2, 3, 0, 2, 11, 0, 7, NA)**<br>
a) Remove the NA value, either by indexing or using the relevant function.<br>
b) Make a logical vector (e.g., either TRUE and FALSE) indicating the elements
equal to zero as TRUE, and the remaining elements as FALSE.<br>
c) Use the logical vector you have created to pick out the non-zero values and store
them in a vector called no_zero.<br>
d) Check how many non-zero values you have in vec1 by taking the length of the
vector no_zero (using function length())<br>

In [1]:
vec1 <- c(0,2,3,0,2,11,0,7,NA)

In [28]:
# a/
## clean vec1
#vec1 <- vec1[-9]
vec1 <- na.omit(vec1)
vec1

[1]  0  2  3  0  2 11  0  7

In [20]:
# b/
## non-zero values are FALSE
## vec2 <- c(TRUE, FALSE, FALSE, TRUE, FALSE, FALSE, TRUE, FALSE, FALSE)
vec2 <- !as.logical(vec1)
vec2

[1]  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE

In [24]:
## non-zero values are TRUE
no_zero <- vec1[!vec2]
no_zero

[1]  2  3  2 11  7

In [29]:
length(no_zero)

[1] 5

***

2. In this exercise you will take data from a table and store the information in a data frame, that you then will export to a plain-text (.csv) file which is easy to work with in R, and any other statistical package.<br><br>
a) Construct a data frame (manually in R) from the table given below, including the
three variables which you name in R (remember that a vector in R is a column):<br>
W (average wage/h, given by the numbers in the table)<br>
YEAR (including the years for each observation, given in the table)<br>
GENDER (including characters indicating "Female" or "Male" (hint: rep() is useful).<br>
The number of rows should be as many as the number of values in the table, e.g., the number of rows in your data frame should be 18!<br>
Please note that the variable GENDER is based on the table below, but the character values "Female" and "Male" need be given in R.<br><br>
b) Export the data frame as a comma separated (.csv) file.<br>
 It is not necessary to supply this .csv file to me as a teacher for grading,
 but the code should be correct and work!
 
![dataframe](https://github.com/dnzengou/du_r/blob/main/r-assignment1/dataframe_city.PNG)

In [3]:
YEAR <- c(2003,2004,2005,2006,2007,2008,2009,2010,2011,2003,2004,2005,2006,2007,2008,2009,2010,2011)
GENDER <- c("Female","Female","Female","Female","Female","Female","Female","Female","Female","Male","Male","Male","Male","Male","Male","Male","Male","Male")
W <- c(120,122,124,130,136,140,143,150,155,109,112,115,121,128,132,135,140,148)

df <- data.frame(W,YEAR,GENDER)

In [6]:
head(df, 5)

  W   YEAR GENDER
1 120 2003 Female
2 122 2004 Female
3 124 2005 Female
4 130 2006 Female
5 136 2007 Female

In [7]:
#write.csv(df, "dataframe_nzengde.csv", row.names=FALSE)

install.packages("readr")
library(readr)

write_csv(df, "dataframe_nzengde.csv")

3. For this exercise you need to download the data file "Freedman.csv" from Learn.<br>
a) Import the data to R as data.frame() names Freedman.<br>
b) Use summary() and str() on the imported data.<br>
c) Sometimes variables that are numeric is read as character or integer, but it is possible to use as.numeric() on these variables to define them as numeric. All variables except for the variable City should be numeric, make sure they are.<br> (Hint: Freedman$variable, and assign new variable)<br>
d) Using this data set, give the mean values of each column of data (not City). Remember that NA values must be accounted for in function mean()<br>
e) Retrieve the rows which have a non-white population larger than 30%. (This is what the column nonwhite gives us as information, % non-white)

In [9]:
#data <- read.csv('https://raw.githubusercontent.com/dnzengou/du_r/main/r-assignment1/data/Freedman.csv')
Freedman <- data.frame(read.csv('https://raw.githubusercontent.com/dnzengou/du_r/main/r-assignment1/data/Freedman.csv'))

tail(Freedman,5)

    City       population nonwhite density crime
104 Wichita    406         5.8     166     2532
105 Wilkes     340         0.3     383      613
106 Wilmington 488        11.7     419     2393
107 Worcester  612         0.9     405     2874
108 York       316         2.0     220     1062

In [11]:
# b/
summary(Freedman)

          City       population         nonwhite        density
 Akron      :  1   Min.   :  270.0   Min.   : 0.30   Min.   :   37.0
 Albany     :  1   1st Qu.:  398.5   1st Qu.: 3.40   1st Qu.:  265.0
 Albuquerque:  1   Median :  675.0   Median : 7.20   Median :  405.0
 Allentown  :  1   Mean   : 1142.1   Mean   :10.89   Mean   :  768.2
 Anaheim    :  1   3rd Qu.: 1185.5   3rd Qu.:14.93   3rd Qu.:  776.5
 Atlanta    :  1   Max.   :11551.0   Max.   :64.30   Max.   :13087.0
 (Other)    :102   NA's   :9                         NA's   :9
     crime
 Min.   : 458
 1st Qu.:2123
 Median :2716
 Mean   :2736
 3rd Qu.:3307
 Max.   :5441

In [12]:
# b/
str(Freedman)

'data.frame':	108 obs. of  5 variables:
 $ City      : Factor w/ 108 levels "Akron","Albany",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ population: int  675 713 NA 534 1261 1330 331 1981 315 305 ...
 $ nonwhite  : num  7.3 2.6 3.3 0.8 1.4 22.8 7 21.6 20.7 0.6 ...
 $ density   : int  746 322 NA 491 1612 770 41 877 240 147 ...
 $ crime     : int  2602 1388 5018 1182 3341 2805 3306 4256 2117 1063 ...

In [10]:
# c/
Freedman$population <- as.numeric(Freedman$population)
Freedman$nonwhite <- as.numeric(Freedman$nonwhite)
Freedman$density <- as.numeric(Freedman$density)
Freedman$crime <- as.numeric(Freedman$crime)

In [11]:
# remove NAs from dataset
Freedman_clean <- na.omit(Freedman)

head(Freedman_clean, 3)

  City      population nonwhite density crime
1 Akron     675        7.3      746     2602
2 Albany    713        2.6      322     1388
4 Allentown 534        0.8      491     1182

In [12]:
# calculate means
FreedmanPopulation_mean <- mean(Freedman_clean$population)
FreedmanNonwhite_mean <- mean(Freedman_clean$nonwhite)
FreedmanDensity_mean <- mean(Freedman_clean$density)
FreedmanCrime_mean <- mean(Freedman_clean$crime)

In [14]:
#  rows with non-white population larger than 30%
subset <- Freedman_clean[FreedmanNonwhite_mean > 0.3]

subset

    City            population nonwhite density crime
1   Akron            675        7.3      746    2602
2   Albany           713        2.6      322    1388
4   Allentown        534        0.8      491    1182
5   Anaheim         1261        1.4     1612    3341
6   Atlanta         1330       22.8      770    2805
7   Bakersfield      331        7.0       41    3306
8   Baltimore       1981       21.6      877    4256
9   Beaumont         315       20.7      240    2117
10  Binghamton       305        0.6      147    1063
11  Birmingham       739       32.1      272    2285
12  Boston          3239        3.4     1831    2835
13  Bridgeport       785        5.3     1252    2630
14  Buffalo         1324        6.8      832    2171
15  Canton           363        5.4      630    1764
18  Charlotte        388       24.2      328    3447
19  Chattanooga      306       17.6      308    2643
20  Chicago         6815       14.8     1832    2680
21  Cincinnati      1376       10.4      640    1780
22  Cleveland       2068       13.7     1361    3162
24  Columbus         870       11.0      583    3037
25  Corpus.Christi   297        4.2      194    3077
26  Dallas          1459       15.0      320    3701
27  Davenport        366        2.1      215    1877
28  Dayton           836        9.7      489    2392
29  Denver          1129        4.2      308    4095
31  Detroit         4127       13.1     2114    4283
32  Duluth           271        0.8       37    1736
33  El.Paso          351        3.3      332    2430
35  Flint            487        9.0      374    3164
36  Fort.Lauderdale  526       16.6      431    3688
⋮   ⋮               ⋮          ⋮        ⋮       ⋮
77  Portland         957        3.0      262    3627
78  Providence       749        1.9     1221    2903
79  Reading          292        1.8      338    1052
80  Richmond         515       26.3      430    3183
81  Rochester        853        4.0      368    1820
82  Sacramento       765        6.8      222    3793
83  St.Louis        2327       14.2      565    3302
84  Salt.Lake        534        1.4      504    2977
85  San.Antonio      850        7.1      434    3459
86  San.Bernardino  1086        4.7       40    3743
87  San.Diego       1221        5.5      286    2587
88  San.Francisco   2999       12.5     1210    5441
89  San.Jose         985        3.2      758    3000
90  Seattle         1340        4.8      317    4329
91  Shreveport       299       34.1      171    1864
92  South.Bend       275        5.3      302    1973
93  Spokane          273        2.0      155    2130
94  Springfield      554        3.1      481    2467
95  Syracuse         625        2.6      259    1577
96  Tacoma           401        5.1      239    2843
97  Tampa            924       11.5      709    3247
98  Toledo           678        7.3      446    2050
101 Tulsa            466        9.2      123    2840
102 Utica            350        1.6      132     869
103 Washington      2751       24.5     1170    4019
104 Wichita          406        5.8      166    2532
105 Wilkes           340        0.3      383     613
106 Wilmington       488       11.7      419    2393
107 Worcester        612        0.9      405    2874
108 York             316        2.0      220    1062

4. For this exercise we will use the Prestige data frame in the package
car.<br>
a) Install the package, if you haven’t done it already, and load the data frame.
Read the help file for the data to learn about the variables.
(?Prestige)<br>
b) Select a subset of the data for occupations with more than 50% women and store this data.frame as an object sub_prestige_women.<br>
c) Use this subset and compute the average prestige score.<br>
d) Now compute the average prestige score for occupations with less than 50% women.<br>
e) For this final question below, use the complete Prestige data again (e.g., do not use sub_prestige_women).<br>
Make a for-loop to compute the average (mean) prestige score for the three different types of occupations. Automatically store the three means in a vector.<br>
(Hint: if you want a vector of the professions, there is a function unique() )

In [ ]:
# a/
#install.packages("car")

#library(car)

Installing package into ‘/srv/rlibs’
(as ‘lib’ is unspecified)

also installing the dependencies ‘zip’, ‘SparseM’, ‘MatrixModels’, ‘data.table’, ‘openxlsx’, ‘minqa’, ‘nloptr’, ‘RcppEigen’, ‘carData’, ‘abind’, ‘pbkrtest’, ‘quantreg’, ‘maptools’, ‘rio’, ‘lme4’

In [24]:
#install.packages("readr")
#library(readr)

#prestige <- read_csv("https://r-data.pmagunia.com/system/files/datasets/dataset-40754.csv")

df_prestige <- read.csv("dataset-40754.csv")
df_prestige <- data.frame(df_prestige)

In [25]:
head(df_prestige, 5)

                    education income women prestige census type
gov.administrators  13.11     12351  11.16 68.8     1113   prof
general.managers    12.26     25879   4.02 69.1     1130   prof
accountants         12.77      9271  15.70 63.4     1171   prof
purchasing.officers 11.42      8865   9.11 56.8     1175   prof
chemists            14.62      8403  11.68 73.5     2111   prof

In [27]:
# b/

#sub_prestige_women <- data.frame(df_prestige[df_prestige["women"]>50])
sub_prestige_women <- subset(df_prestige, df_prestige$women>50)

head(sub_prestige_women,5)

                        education income women prestige census type
economists              14.44     8049   57.31 62.2     2311   prof
social.workers          14.21     6336   54.77 55.1     2331   prof
librarians              14.15     6112   77.10 58.1     2351   prof
primary.school.teachers 13.62     5648   83.78 59.6     2731   prof
nurses                  12.46     4614   96.12 64.7     3131   prof

In [31]:
# c/ average prestige score with women > 50%

mean_sub_prestige_women <- mean(sub_prestige_women$prestige)
mean_sub_prestige_women

[1] 43.52593

In [32]:
# d/ average prestige score with women < 50%

sub_prestige_women_50minus <- subset(df_prestige, df_prestige$women<50)

mean_sub_prestige_women_50minus <- mean(sub_prestige_women_50minus$prestige)
mean_sub_prestige_women_50minus

[1] 48.024

In [ ]:
# e/ for-loop to compute the average (mean) prestige score for the three different types of occupations.
# Automatically store the three means in a vector.